.list-payment {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 1rem;
  padding-left: 0;
  gap: .75rem;
}

@media screen and (min-width: 750px) {
  .list-payment {
    padding-top: 0;
    align-items: center;
  }
}

.list-payment__item {
  align-items: center;
  display: flex;
}
