.modal-video {
  background: rgba(0,0,0,0.65);
  box-sizing: border-box;
  height: 100%;
  left: 0;
  margin: 0 auto;
  opacity: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: -1;
}

.modal-video[open] {
  opacity: 1;
  visibility: visible;
  z-index: 101;
}

.modal-video__content {
  height: 100%;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.modal-video__toggle {
  align-items: center;
  background-color: rgb(var(--color-background));
  border-radius: 50%;
  border: 0.1rem solid rgba(var(--color-foreground), 0.1);
  color: rgba(var(--color-foreground), 0.55);
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0 0 0 auto;
  padding: 1.2rem;
  position: absolute;
  right: 2rem;
  top: 2rem;
  width: 3.2rem;
  height: 3.2rem;
  z-index: 2;
}

.modal-video__toggle .icon {
  height: auto;
  margin: 0;
  width: 2.2rem;
}

/* Custom video control buttons */
.modal-video__play-toggle,
.modal-video__mute-toggle {
  align-items: center;
  background-color: rgb(var(--color-foreground));
  border-radius: 50%;
  border: 0;
  color: rgb(var(--color-background));
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 1.2rem;
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
  z-index: 2;
  top: 2rem;
}

.modal-video__play-toggle {
  left: 2rem;
}

.modal-video__mute-toggle {
  left: 6rem;
}

.modal-video__play-toggle .svg-wrapper {
  height: 2.2rem;
  width: 2.2rem;
  margin: 0;
}

.modal-video__mute-toggle .mute-text {
  font-size: 1.8rem;
  line-height: 1;
  display: inline-block;
}

.modal-video__mute-toggle .mute-text svg {
  background-color: rgb(var(--color-foreground));
  color: rgb(var(--color-background));
  border-radius: 50%;
}

.modal-video__content-info {
  max-width: 100%;
}

.modal-video__content-info video {
  border-radius: 1rem;
  max-width: 100%;
  height: auto;
  max-height: 100vh;
}

.modal-video__video,
.modal-video__video iframe {
  cursor: auto;
  width: auto;
  height: auto;
  max-width: calc(100vw - 5rem);
  max-height: 100vh;
  position: relative;
}

.modal-video__video iframe {
  position: static;
  border: 0;
}

@media screen and (max-width: 749px) {
  .modal-video__video,
  .modal-video__video iframe {
    max-width: 100%;
    height: auto;
    max-height: 100vh;
  }

  .modal-video__media--landscape .modal-video__overlay {
    transform: translateY(96%);
    margin: 0;
    max-width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .modal-video__content-info.modal-video__media--landscape {
    align-self: flex-start;
    margin-top: 25%;
  }

  .modal-video__content-info.modal-video__media--landscape video {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}